.main{
    display: flex;
    height:100vh;
    margin:0;
    padding:0;
    background-image:radial-gradient(#1D5450,#248680,#248680,#1D5450);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;

}
.init_form{
    background-color: #82e4d090;
    margin: 1rem;
    height: 50%;
    width:25%;  
    border-radius: 1rem;
    display: flex; 
    flex-direction: column; 
    padding: 2rem;  
    justify-content: space-around;
}
.form-head{
    font-size: 2rem;
}
.options{
    font-size: 1.5rem;
}
.submit-button{
    font-size: 1.5rem;
    background-color: #1D5450;
    color: white;
}
.options input{
    height: 1.5rem;
    width: 1.5rem;
}

