<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav>
        <a href="/">Back</a>
    </nav>
    <div class="alerts">
        {% if alert_history!= []%}
        <table>
            <thead>
                <tr>
                    <th>Time stamp</th>
                    <th>Severity</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
            {% for alert in alert_history|reverse %}
            <tr>
                {% if loop.first %}
                <td rowspan="{{ alert_history|length }}">{{ alert[0] }}</td>
                {% endif %}
                <td>{{ alert[1] }}</td>
                <td>{{ alert[2] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
        

    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Speed</th>
                    <th>Engine Temperature</th>
                    <th>Oil Quality Index</th>
                </tr>
            </thead>
            <tbody>
                {% for tel in telemetry_list%}
                <tr>
                    <td>{{tel["timestamp"]}}</td>
                    <td>{{tel["speed"]}}</td>
                    <td>{{tel["engine_temperature"]}}</td>
                    <td>{{tel["oil_quality_index"]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        
        </table>
    </div>
    
</body>
</html>