<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Dashboard</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="main">
        <form method="post" class="init_form">
            <h3 class="form-head">Choose mode initial parameters (custom) or use (default)</h3>
            <div class="options">
                <input type="radio" id="custom" name="mode" value="custom">
                <label for="custom" class="choice">Custom</label>
            </div>
            <div class="options">
                <input type="radio" id="default" name="mode" value="default" >
                <label for="def" class="choice">Default</label>
            </div>
            
            <button type="submit" class="submit-button">Submit</button>
        </form>        
    </div>    
</body>
</html>