<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Dashboard</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div>
        <form method="post">
            <h3>Choose mode initial parameters (custom) or use (default)</h3>
            <input type="radio" id="custom" name="mode" value="custom">
            <label for="custom">Custom</label>
            <br>
            <input type="radio" id="default" name="mode" value="default">
            <label for="custom">Default</label>
            <br><br>
            <button type="submit">Submit</button>
        </form>        
    </div>    
</body>
</html>